{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AIRBUS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    

    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}">
    
</head>
<body>
  <style>
    html { 
        background: url("{% static 'images/airbus.jpg' %}") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        }
  </style>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">
                <img src="{% static 'images/download.png' %}" width="120" height="30" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Developers</a>
                    </li>
                    
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
            <div class="main">
            <div id="widgets" >
                <div class="row">
                    <div class="col-4">
                        <div id="drager2">
                       <a href="{% url 'bugreport' %}" target="_blank"> <h6 style="padding:10px">Bug</h6> </a>
                     </div>
                </div>
                <div class="col-4">
                    <div id="drager2">
                            <a href="{% url 'announcement' %}" target="_blank">  <h6 style="padding:10px">Ann</h6></a>
                    </div>
                </div>
                <div class="col-4">
                    <div id="drager2">
                            <a href="{% url 'search' %}" target="_blank">   <h6 style="padding:10px">Search</h6></a>
                </div>
            </div>
                </div>
                <div class="row">
                    <div class="col-4"><div id="drager2">
                            <a href="{% url 'chatbot' %}" target="_blank"><h6 style="padding:10px">Bot</h6></a></div></div>
                <div class="col-4"><div id="drager2">
                        <a href="{% url 'feedback-page' %}" target="_blank"><h6 style="padding:10px">Fback</h6></a></div></div>
                <div class="col-4"><div id="drager2"><h6 style="padding:10px">Usage</h6></div></div>
            </div>
            </div>
            <div id="drager"></div>
        </div>
        <script src="{% static 'main.js' %}"></script>
        
</body>
</html>